body {
  background-image: url("lyftuber.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 400px;
}

.highlight {
  background-color: white;
}

img {
  width: 25%;
  height: 25%;
  
}

/* .comparison {
  background-color: white;
}

.uber {
  height: 40vh;
  background-color: white;
}

.lyft {
  height: 40vh;
  background-color: white;
} */

.list-group-item:hover {
  background-color: #373296;
  color:white;
}

.btn {
  background-color: #373296;
  color: white 
}

.lyftDeal {
  background-color:limegreen;
  color: white;
}

.uberDeal {
  background-color: limegreen;
  color: white;
}
.lyftTime {
  background-color: limegreen;
  color: white;
}
.uberTime {
  background-color: limegreen;
  color: white;
}

.badTimeUber{
  background-color: red;
  color: white;
}
.badTimeLyft{
  background-color: red;
  color: white;

}
.badDealUber{
  background-color: red;
  color: white;

}
.badDealLyft{
  background-color: red;
  color: white;

}