body {
  background-image: url("lyftuber.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 400px;
}

.highlight {
  background-color: white;
}

img {
  width: 25%;
  height: 25%;
  
}

.comparison {
  background-color: white;
}

.uber {
  height: 40vh;
  background-color: white;
}

.lyft {
  height: 40vh;
  background-color: white;
}

.list-group-item:hover {
  background-color: blue;
}