body {
  background-color: white;
}

img {
  width: 25%;
  height: 25%;
  
}

.comparison {
  background-color: white;
}

.uber {
  height: 40vh;
  background-color: white;
}

.lyft {
  height: 40vh;
  background-color: white;
}